<%- include("header.ejs") %>
<div class="about">
  <div class="who_we_are">
    <h1>Who we are</h1>
    <p>
      Welcome to our blog haven, where a team of cunning and curious cats is on
      a mission to take over the world—one post at a time! We're not your
      average bloggers; we're a group of feline masterminds who believe that the
      internet is our playground, and we invite you to join us on this wild
      adventure. From our hidden headquarters, we craft blogs that range from
      the profound to the playful, all with the goal of captivating our human
      audience and slowly but surely conquering the digital realm. Whether
      you're here for insightful musings, quirky stories, or just to bask in the
      brilliance of our feline minds, you've come to the right place. Together,
      let's make the internet purr! 🐾
    </p>
  </div>
  <div class="pictures_middle"></div>
  <div class="team">
    <h1>Meet the Team</h1>
    <div class="team_member">
      <img src="/public/assets/pur_the_second.jpg" alt="cat1" />
      <h2>Mr. Pur the Cat</h2>
      <p>CEO</p>
    </div>
    <div class="team_member">
      <img src="/public/assets/kitty_katty.jpg" alt="cat2" />
      <h2>Ms. Kitty Katty</h2>
      <p>Social Media Manager</p>
    </div>
    <div class="team_member">
      <img src="/public/assets/kit_the_kat.jpg" alt="cat3" />
      <h2>Mr. Kit the Cat</h2>
      <p>Chief Programmer</p>
    </div>
  </div>
</div>
