<footer>
    <h1>More</h1>
  <ul>
    <li class="footer_more"> <a
        href="https://www.google.com/about/careers/applications/locations/mountain-view/"
        >HQ</a
      ></li>
    </li>
    <li class="footer_more">Donate!</li>
    <li class="footer_more">
      <a href="https://www.amazon.com/kitten-toys-cats/s?k=kitten+toys+for+cats"
        >Our Favorite Toys</a
      >
    </li>
  </ul>
  <div class="social_media">
    <a href="https://www.facebook.com/"
      ><img src="/assets/facebook.png" alt="facebook"
    /></a>
    <a href="https://www.instagram.com/"
      ><img src="/assets/instagram.png" alt="instagram"
    /></a>
    <a href="https://www.x.com/"
      ><img src="/assets/twitter.png" alt="x"
    /></a>
  </div>
  <p>Taka Taka 📥 2024 Company, Inc.</p>
</footer>
